[Unit]
Description=Start Node.js Express server
After=network.target

[Service]
Type=simple
User=%i
Environment=HOME=/home/%i
ExecStart=/home/%i/.nvm/versions/node/v22.17.1/bin/node /home/%i/StudyBuddy/server/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
